@font-face {
  font-family: 'CoolveticaRg'; 
  /* Remplace "NomDeTonFichier.otf" par le VRAI nom de ton fichier ! */
  src: url('./assets/fonts/CoolveticaRg.otf') format('opentype'); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}